.log{
	border-style: outset;
	border-width:5px;
	border-color:#0080c0;
	margin:300px 150px 300px 450px;
	padding:5px 5px 5px 5px;
	background-color:#c0c0c0;
	font-size:18px;
	height:150px;
	width:600px;
}
.required
{
color:red;	
}

input[type=submit]{
    background-color: #0080ff;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    height:70%;
    font-size:18px;
}
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}